---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavigationUp from '../components/NavigationUp.astro';

import callIcon from '../images/call.svg?raw';
import elevator from '../images/elevator.png';
import openInNewIcon from '../images/open_in_new.svg?raw';
---

<Layout title="kur Simonas?">
    <a href="https://maps.app.goo.gl/3msthntw4GYQUne17" target="_blank">
        <h1 id="top" class="text-2xl m-4 inline-flex items-center border rounded-full p-4 bg-gray-50 gap-2">
            <Fragment set:html={openInNewIcon}/>
            Vytenio 50 – 450
        </h1>
    </a>
    <Card id="step-1" title="1. Liftas">
        <Image src={elevator} alt="Liftas" class="mt-4"/>
        <ol>
            <li class="my-4">1. Skambinti liftui <a href="tel:+37069402140"
                                                    class="m-4 mx-2 inline-flex border rounded-full p-4 bg-gray-50 gap-2">
                <Fragment set:html={callIcon}/>
                <b>+37069402140</b></a>
            </li>
            <li class="my-4">2. Paskambinus liftas pyptels ir atsirakins išorinės durys. Atidaryti duris ir iškviesti
                liftą mygtuku.
            </li>
            <li class="my-4">3. Pakilti į <b>4</b> aukštą.</li>
        </ol>
    </Card>
    <Card id="step-2" title="2. Ketvirtas aukštas">
        <ol>
            <li class="my-4">1. Išėjus iš lifto <b>tiesiai priešais</b> rasti ketvirto aukšto duris.</li>
            <li class="my-4">2. Durų dešinėje suvesti kodą <b>3478#</b>, įeiti.</li>
            <li class="my-4">3. Įėjus pro duris iškart sukti į <b>dešinę</b> ir eiti ilgu koridoriumi.</li>
            <li class="my-4">4. Koridoriumi eiti tol, kol <b>kairėje</b> atsivers trumpesnis koridorius, kurio gale yra
                langas. Eiti iki lango.
            </li>
            <li class="my-4">5. Atėjus iki lango, dešinėje yra dar vienos durys. Durų dešinėje mygtukas, jų
                atidarymui.
            </li>
            <li class="my-4">6. Atidarius duris laiptais pakilti į viršų.</li>
        </ol>
    </Card>
    <Card id="step-3" title="3. Penktas aukštas">
        <ol>
            <li class="my-4">1. Pakilus laiptais rasti dar vienas kodines duris.</li>
            <li class="my-4">2. Įvesti kodą <b>C4567X</b>, pasukti kodinės spynos rankenėlę, atidaryti duris.</li>
            <li class="my-4">3. Įėjus į penktą aukštą, buto durys kairėje, su numeriu <b>450</b>.</li>
        </ol>
    </Card>
</Layout>
<NavigationUp/>
